<% layout('/layouts/boilerplate') %>
<p class="fs-2 ctext">Campgrounds</p>

<% for(camp of camps) { %>
<section class="card mb-3">
  <img
    src="<%=camp.image %> "
    class="card-img img-fluid size"
    style="object-fit: contain; margin: auto"
    alt="image"
  />
  <div class="card-body">
    <a
      href="/campgrounds/<%=camp._id%>"
      class="text-decoration-none card-title ctext fs-5"
      ><%= camp.title %></a
    >
    <p class="card-text"><%=camp.description%></p>
    <p class="text-muted card-text"><%= camp.location%></p>
  </div>
</section>
<% } %>
